body, html{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #000200;
}
header{
  margin-top: 7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > img{
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 3px solid #000000;
  box-shadow: whitesmoke 0px 2px 4px 4px;
}
h1{
  font-family: 'Lucida Sans Unicode';
  color: rgb(3, 3, 18);
}
header > h1{
  display: inline-flexbox;
  box-shadow: black 4px 5px 1px 2px;
  font-size: 3em;
  border-radius: 5.7em;
  background-color: aliceblue;
  padding: 0.1em 0.8em;
  backdrop-filter: blur(10px) saturate(200%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(200%) contrast(180%); 
}
  
body{
  max-width:2000%;
  background: url(/daru.jpeg) center fixed;
  background-size: cover;
  background-position:unset;
}
main{
  position: relative;
  opacity: 0;
  filter: blur(0px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}
ul{
  box-sizing: border-box;
  list-style: none;
  margin: 1em auto;
  padding: 4em;
}
ul > li{
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(200%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(200%) contrast(180%); 
  border-radius: 0.6em;
  box-shadow: black 4px 5px 1px 2px;
  margin: 1.6em;
  padding: 0.5em;
  font-size: 3em;
}
ul > li > a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}
a{
  color: #000000;
  text-decoration: none;
}
  
footer{
  padding-top: 45rem;
  font-size: 35px;
  color: aqua;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  display: flex;
  align-content: center;
}
