body, html{
  font-family: 'Open Sans', sans-serif;
  color: #000200;
  height: 90vh;
}
header{
<<<<<<< HEAD
  margin-top: 7em;
=======
  margin-top: 5em;
>>>>>>> ac693b1f582eef34f717a63d677cabd3e9e10892
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > img{
<<<<<<< HEAD
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 3px solid #000000;
  box-shadow: whitesmoke 0px 2px 4px 4px;
=======
  width: 15em;
  height: 15em;
  border-radius: 100%;
  border: 3px solid #000000;
  box-shadow: whitesmoke 0px 2px 8px 2px;
>>>>>>> ac693b1f582eef34f717a63d677cabd3e9e10892
}
h1{
  font-family: 'Lucida Sans Unicode';
  color: rgb(3, 3, 18);
}
header > h1{
  display: inline-flexbox;
<<<<<<< HEAD
  box-shadow: black 2px 2px 2px 1px;
=======
>>>>>>> ac693b1f582eef34f717a63d677cabd3e9e10892
  font-size: 4em;
  border-radius: 6em;
  background-color: aliceblue;
  padding: 0.05em 1em;
  backdrop-filter: blur(10px) saturate(200%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(200%) contrast(180%); 
}
body{
  background: url(/daru.jpeg) no-repeat center fixed;
  background-size: cover;
}
main{
  position: relative;
  opacity: 0;
  filter: blur(0px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}
ul{
  box-sizing: border-box;
  list-style: none;
<<<<<<< HEAD
  margin: 1em auto;
  padding: 4rem;
=======
  margin: 0em auto;
  padding: 0em;
>>>>>>> ac693b1f582eef34f717a63d677cabd3e9e10892
}
ul > li{
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(200%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(200%) contrast(180%); 
  border-radius: 0.5em;
  box-shadow: black 8px 2px 9px 1px;
  margin: 1.5em;
<<<<<<< HEAD
  padding: 1rem;
=======
  padding: 0.5em;
>>>>>>> ac693b1f582eef34f717a63d677cabd3e9e10892
  font-size: 3em;
}
ul > li > a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}
a{
  color: #000000;
  text-decoration: none;
<<<<<<< HEAD
=======
}
.ul-footer{
  font-size: 30px;
  color: aqua;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  display: flex;
  padding-top: 10em;
>>>>>>> ac693b1f582eef34f717a63d677cabd3e9e10892
}

footer{
  padding-top: 45rem;
  font-size: 35px;
  color: aqua;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  display: flex;
  align-content: center;
}